.main {
  background-image: url('https://wow.zamimg.com/uploads/screenshots/normal/980034.png');
  background-size: cover;
  height: 100vh;

  padding: 20px;
}

#header {
  color: #ccc;
}

#title {
  font-size: 48px;
  font-weight: 600;
}

#version {
  font-size: 14px;
  margin-top: -8px;
}

#controls {
  background-color: #ccc;
  width: max-content;
  padding: 2px 15px;
  margin-top: 10px;

  border-radius: 3px;
  border: 1px solid #222;
}

#table-container {
  height: 70vh;
  background-color: #ccc;
  margin-top: 10px;
}